{% extends "homepagebase.html" %}
{% set active_page = "content" %}

{% block title %} Homepage {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        #label { 
          color:gray; 
          font-weight: bolder ;
          }

        #action{
          background-color:#54B948;
          color: black;
        }

        #header{
          background-color:#F5F5F5;
          color: black;
        }

    </style>
{% endblock %}
{% block content %}
<div class="" style="margin-top: 10px;margin-bottom: 10px;">
  <form action="/rse_report" method="POST" enctype=multipart/form-data> 
    <input type="submit" class="btn btn-outline-success float-right" style="width: 50;margin-bottom: 10px;" >
    <input type="file" class="float-right" style="width: 240px;" name="rse_file">
  </form>
</div>

<form action="/generate_data" method="POST" enctype=multipart/form-data> 
<div class="float-left" style="margin-bottom: 10px;margin-right: 5px;">
  <input class="form-control mr-sm-2" type="search" placeholder="Date From " aria-label="Search" size="10" name="search">
</div>

<div class="float-left" style="margin-bottom: 10px;margin-right: 5px;">
  <input class="form-control mr-sm-2" type="search" placeholder="Date To " aria-label="Search" size="10" name="search">
</div>

<div class="float-left" style="margin-bottom: 10px;margin-right: 5px;">
  <input class="form-control mr-sm-2" type="search" placeholder="Build " aria-label="Search" size="10" name="search">
</div>

<div class="float-left" style="margin-bottom: 10px;margin-right: 5px;">
  <input class="form-control mr-sm-2" type="search" placeholder="ADK " aria-label="Search" size="10" name="search">
</div>

<div class="float-left" style="margin-bottom: 10px;margin-right: 5px;">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: white;background-color:  #308027;"><span>Generate Data</span></button>
</div>
</form>
<!-------------EOD REPORT--------------------->

{{df}}

{% endblock %}