{% extends "homepagebase.html" %}
{% set active_page = "content" %}

{% block title %} Homepage {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        #label { 
          color:gray; 
          font-weight: bolder ;
          }

        #action{
          background-color:#54B948;
          color: black;
        }

        #header{
          background-color:#F5F5F5;
          color: black;
        }

    </style>
{% endblock %}

<!-------------EOD REPORT--------------------->

