<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

 <title>{%block title%}{%endblock%}- DeepDive</title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{url_for('static',filename='css/simple-sidebar.css')}}" rel="stylesheet">

 

  <script src="https://kit.fontawesome.com/f62f2e182f.js" crossorigin="anonymous"></script>

 <!--
<style type="text/css">
  ul.list_menu li a:active {
    color: #FF0000;
    border: solid;
    }
</style>-->

  
  {%endblock%}
</head>

<body>

  <div class="d-flex" id="wrapper">
    
    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper" style="background-color: #F5F5F5;">
      <div class="sidebar-heading">Deep Dive</div>
      <nav class="blog-nav" > 
      <ul class="list-group list-group-flush" id="list_menu">
        <li><a id="homepage" href="/homepage" class="list-group-item list-group-item-action" >Mainfile Analysis</a></li>
        <li><a id="menu" href="#" class="list-group-item list-group-item-action">EOD Report</a></li>
        <li><a id="menu" href="#" class="list-group-item list-group-item-action">RSE Report</a></li>
        <li><a id="menu" href="#" class="list-group-item list-group-item-action">Diags Assignment</a></li>
        <li><a id="manual-analysis" href="/manual-analysis" class="list-group-item list-group-item-action">Input Manual Analysis</a></li>
        <li><a id="menu" href="#" class="list-group-item list-group-item-action">SCO Metric Data</a></li>
        <form action="/upload" method="POST" enctype=multipart/form-data>
       <!--- <a href="/upload" class="btn btn-info float-right" style="margin: 10px;" name="file">Upload File</a>--->
        <input type="file" class="btn btn-info" style="width: 240px;" name="file"></input>
        <button class="btn btn-info float-right" style="margin: 10px;">Upload</button>
        </form>
      </ul>
      </nav> 
      
    </div>
    
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg border-bottom" style="background-color: #54B948;">
        
        <button class="btn btn-primary" id="menu-toggle" style="size: 200px;margin-right: 10px;"><i class="fas fa-bars"></i></button>
        <a href="/homepage"><img src="{{url_for('static', filename='pictures/logo.png')}}" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon"></span>
        </button>

       

        <form class="form-inline" method="POST" action="/search_results">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" size="70" name="search" style="margin-left: 10px;">
          

            <label for="filterby" style="padding-right: 10px;" ><span style="color: white;">Filter By</span></label>
            <select class="form-control" id="filterby" name="filterby">
            <option>Analysis </option>
            <option>Diag</option>
            <option>Store </option>
            <option>Build Package </option>
            <option>ADK </option>
            <option>Date </option>
            <option>Jira </option>
            <option>Category </option>
            <option>Device Error </option>
            <option>GSA </option>
            <option>HW Type </option>
            <option>Motherboard </option>
            <option>RSE State </option>
            </select>
            
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: white;margin-left: 10px;background-color:  #308027;"><span>Search</span></button>
          
        </form>

      

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/homepage" style="color: white;"> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                {{current_user.username}}                              
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout/{{current_user.id}}">Log Out</a>
              </div>
            </li>
          </ul>
        </div>

        
      </nav>
      
      <div class="container-fluid">
        {%block content%}
        
        {%endblock%}
      </div>
    </div>
    <!-- /#page-content-wrapper -->
    
  </div>
  <footer id="sticky-footer" class="py-4 bg-light text-black-10">
    <div class="container text-center">
      <small>Copyright &copy; berbien pentado</small>
    </div>
  </footer>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    


    $(function() {
  $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
});

	


  </script>
</body>

</html>
