{%extends "upload_homepagebase.html"%}

{%block title%}Upload Analysis{%endblock%}
{% block head %}
    {{ super() }}
    <style type="text/css">
        #label { 
          color:gray; 
          font-weight: bolder ;
          
          }
    </style>
{% endblock %}
{%block content%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12" style="padding-top: 5%;"> 
            <div class="card">
                <div class="card-body">
                    <form action="/upload_edit-analysis/{{diag.id}}" method="POST">
                        
                        <div class="form-group">
                          <label for="diagfilename" id="label">Diag File Name</label>
                          <input type="text" class="form-control" id="diagfilename" name="diags" value={{diag.diagfile_name}}>
                        </div>
                        <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="build" id="label">Build Package</label>
                            <input type="build" class="form-control" id="build" name="build" value={{diag.build}}>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="adk" id="label">ADK</label>
                            <input type="adk" class="form-control" id="adk" name="adk" value={{diag.adk}}>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="problemdate" id="label">Problem Date</label><br>
                            <!--<input type="datetime-local" id="meeting-time" name="time" value={{diag.date_time}} min="2000-01-07T00:00" max="2030-01-14T24:00" style="margin-top: 5px;">--->
                            {{diag.probdate}}
                        </div>
                        </div>
                        <div class="form-group">
                          <label for="analysis" id="label">Analysis</label>
                          <textarea class="form-control" id="analysis" rows="3" name="analysis">{{diag.analysis}}</textarea>
                        </div>
                        <div class="form-row"> 
                            <div class="form-group col-md-4">
                              <label for="jira" id="label">Jira</label>
                              <input type="text" class="form-control" id="jira" name="jira" value="{{diag.associated_jira}}">
                            </div>
                            <div class="form-group col-md-4">
                              <label for="Category" id="label">Category</label>
                              <input type="text" class="form-control" id="category" name="category"  value="{{diag.category}}">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="deviceerror" id="label"> Device Error</label>
                                <input type="text" class="form-control" id="deviceerror" name="deviceerror"  value="{{diag.device_error}}">
                            </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-3">
                            <label for="gsa" id="label">GSA</label>
                            <input type="text" class="form-control" id="gsa" name="gsa"  value="{{diag.gsa_version}}">
                          </div>
                          <div class="form-group col-md-2">
                            <label for="hardware" id="label">Hardware Type</label>
                            <input type="text" class="form-control" id="hardware" name="hardware"  value="{{diag.hw_type}}">
                          </div>
                          <div class="form-group col-md-2">
                              <label for="motherboard" id="label">Motherboard</label>
                              <input type="text" class="form-control" id="motherboard" name="motherboard"  value="{{diag.motherboard}}">
                          </div>
                          <div class="form-group col-md-2">
                            
                            <label for="dbmgr" id="label">DBMGR</label>
                            <select class="form-control" id="dbmgr" name="dbmgr">
                            <option value="Online" {% if diag.dbmger == "Online" %} selected {%endif%}>Online </option>
                            <option value="Offline" {% if diag.dbmger == "Offline" %} selected {%endif%} >Offline </option>
                            </select>
                          </div>
                          <div class="form-group col-md-3">
                            <label for="rsestate" id="label">RSE State</label>
                            <select class="form-control" id="rsestate" name="rse">
                              <option value="1" {% if diag.rse_state == "1" %} selected {%endif%}>1</option>
                              <option value="2" {% if diag.rse_state == "2" %} selected {%endif%}>2</option>
                              <option value="3" {% if diag.rse_state == "3" %} selected {%endif%}>3</option>
                              <option value="4" {% if diag.rse_state == "4" %} selected {%endif%}>4</option>
                              <option value="5" {% if diag.rse_state == "5" %} selected {%endif%}>5</option>
                              <option value="6" {% if diag.rse_state == "6" %} selected {%endif%}>6</option>
                              <option value="7" {% if diag.rse_state == "7" %} selected {%endif%}>7</option>
                              <option value="8" {% if diag.rse_state == "8" %} selected {%endif%}>8</option>
                            </select>
                          </div>
                        </div>
                        <button class="btn btn-info float-right">Update File</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>     
</div>


{%endblock%}